@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Work Sans');

/* Header Items */
.logo-icon {
    width: 14%;
    padding-left: 20px;
}

.icon {
    padding-left: 20px;

}

header {
    display: flex;
    align-items: center;     /* Vertically center items */
    /*justify-content: space-between;  Space out logo and other items */
    background-color: #1C1D22;
    height: 80px;
    width: 100%;
}

.header-left-items {
    display: flex;
    align-items: center;     /* Vertically center items */
    justify-content: space-between; /* Space out logo and other items */
}

header i {
    font-size: 24px;
}

header button {
    display: none;
}

header ul {
    float: right;
    margin-right: 15px;
}

header ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 15px;
    cursor: pointer;

    transition: all 0.3s;
}

header ul li a:hover {
    background-color: #396B86;
}

.right-header-item {
    padding-right: 20px;
}

.checkbtn {
    float: left;
    margin: 28px;
    cursor: pointer;
    display: none;
}

.openbtn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    color: #ffffff;
}

#check {
    display: none;
}

/* Body/Footer Items */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: none;
}

footer {
    background-color: #1C1D22;
    color: white;
    text-align: center;
    padding: .2rem;
    font-size: 10pt;
}

h2 {
    color: #1C1D22;
    font-family: 'Work Sans';
}

h3 {
    color: #1C1D22;
    font-family: 'Work Sans';
    font-size: 21px;
    padding-left: 20px;
}

h4 {
    color: #1C1D22;
    font-family: 'Nunito';
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

p, .input {
    font-family: 'Nunito';
    color: white;

}


/* Manage Account Specifics */
.createAcc {
    font-family: 'Nunito';
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.login-createAcc-header {
    color: #1C1D22;
}

/* Navbar Items */
nav {
    background-color: #264759;
    height: auto;
    width: 125px;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    font-family: 'Work Sans';
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #396B86;
}

nav .closebtn {
    display: none;
}

/* Specialized Containers */
.container {
    display: flex;
    height: auto;
}

.container-simple {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.center-container {
    flex: 1;
    width: 350px;
    position: fixed;
}

.center-container-simple {
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.left-container {
    flex: 1;
    margin: 10px;
    height: 95%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #adadad;
}

.left-container-create-account {
    display: flex;
    flex: 1;
    margin: 10px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #adadad;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-container-predict {
    display: 1;
    margin: 10px;
    height: 90vh;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #adadad;
    overflow: hidden;
    margin: auto;
}

.right-container {
    flex: 1;
    margin: 10px;
    height: 90vh;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #adadad;
    overflow: hidden;
}

h3 .left-container {
    font-weight: 900;
}

.top-right-container, .bottom-right-container {
    height: 45%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #adadad;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.form-container{
    flex: 1;
    background-color: #264759;
    color: white;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
}

.form-container .input-box {
    width: 100%;
    height: 30px;
    background: #DFDFDF;
    border-radius: 8px;
}

.input {
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Dashboard Specific Items */
.event {
    display: block;
    height: auto;
    margin: 15px;
    border-radius: 8px;
    background: #E5E5E5;
}

.event .shown {
    display: flex;
    justify-content: space-between;
}

.event .hidden table{
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 200;
    color: #1C1D22;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.account-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 15px;
    border-radius: 8px;
    background: #E5E5E5;
    width: auto;
}

/*Buttons*/

header .button {
    width: 5%;
    height: 35px;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-family: 'Nunito';
    font-size: medium;
    margin-left: 10%;
    margin-right: 20px;
    cursor: pointer;
}

header .button a:hover {
    background-color: #396B86;
}

.form-container .button {
    width: 80%;
    height: 35px;
    background: #E9CC7C;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-weight: 900;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    cursor: pointer;
}

.form-container .verifyButton {
    width: 100px;
    height: 35px;
    background: #E9CC7C;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-weight: 900;
    margin-top: 6%;
    margin-left: 36%;
    margin-right: 36%;
    cursor: pointer;
}

.box__button {
    width: 100px;
    height: 35px;
    background: #E9CC7C;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-weight: 900;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 36%;
    margin-right: 36%;
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    .icon {
        margin: -500px;

    }

    .logo-icon {
        width: 35%;
        padding-left: 20px;
        padding-top: 16px;
    }
    
    header button {
        display: inline;
    }

    nav {
        position: absolute;
        top: 80px;
    }

    nav .closebtn {
        display: inline;
    }

    .checkbtn {
        display: block;
    }

    .container {
        display: block;
    }

    .left-container {
        margin: 10px;
        width: auto;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0px 0px 8px #adadad;
        overflow: scroll;
        margin: auto;
    }

    .right-container {
        margin: 10px;
        width: auto;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0px 0px 8px #adadad;
        overflow: hidden;
        margin: auto;
    }
}