{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Sidebar Navigation -->
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('create_account')}}">Manage Accounts</a></li>
            <li><a href="{{ url_for('predict')}}">Predict logs</a></li>
        </ul>
    </nav>

    <!-- Left and Right Containers -->
    <div class="left-container">
        <h3>Event Details</h3>

        {% for user in usernames %}
            <div class="event">
                <div class="shown">
                    <h4>{{ user['username'] }}</h4>
                    <h4>{{ log_counts[user['username']] }}</h4>
                </div>

                <div id="hidden" class="hidden">
                {% if user_logs[user['username']] %}
                    <table>
                        <tr>
                            <th>Timestamp</th>
                            <th>Client IP</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Outcome</th>
                        </tr>
                        {% for log in user_logs[user['username']] %}
                            <tr>
                                <th>{{ log.timestamp }}</th>
                                <th>{{ log.clientIP }}</th>
                                <th>{{ log.geoLat }}</th>
                                <th>{{ log.geoLon }}</th>
                                <th>{{ log.eventOutcome }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h4>No logs available for this user.</h4>
                {% endif %}
                </div>

                <script src="{{ url_for('static', filename='script.js') }}"></script>
            </div>
        {% else %}
            <h4><a href="{{ url_for('predict')}}">No usernames found. Please click here to upload a file.</a></h4>
        {% endfor %}
    </div>

    <!-- Map container -->
    <div class="right-container">
        <div id="map" style="width: 100%; height: 600px;"></div>
    </div>

    <!-- Leaflet JS and custom map script -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
