<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Webpage Layout</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
    </head>
    <body>
        <header>
            <h1>Cybersecurity Project</h1>
            <input type="submit" class="button" value="Logout">
        </header>
        
        <div class="container">
            <nav>
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                </ul>
                
            </nav>
            <div class="left-container">
                <map>

                
                </map>
            </div>
            <!--<div class="right-container">
                <h2>Right Container</h2>
                <p>This is the right container content.</p>
            </div>-->
        </div>

        <footer>
            <a><p>2024 Cybersecurity Project</p></a>
        </footer>
    </body>
    
</html>
