<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    </head>
    <body>
        <header>
            <h1>Cybersecurity Project</h1>
            <input type="submit" class="button" value="Logout">
        </header>
        
        <div class="container">
            <nav>
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                </ul>
                
            </nav>
            <div class="left-container">
                <h3>Event Details</h3>
            </div>
            <div class="right-container">
                <div class="top-right-container">
                    
                </div>
                <div class="bottom-right-container">
                    
                </div>
            </div>
        </div>

        <footer>
            <a><p>2024 Cybersecurity Project</p></a>
        </footer>
    </body>
    
</html>
