<!--login html for users to access dashboard upon successful submission-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
        <link rel="icon" type="image/x-icon" href="/static/not-me-logo-01.png">
    </head>
    <body>
        <!--navbar-->
        <header>
            <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
                <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
            </a>
            <img class="logo-icon" src="/static/not-me-logo-02.png" alt="not-me-logo">
            <ul>
                <li><a class = "pwordRe" href = "{{ url_for('passwordResetemail')}}" style = "color:white">Reset Password</a></li>
            </ul>
        </header>

        <div class="container-simple">
            <div class="center-container-simple">
                <div class="login-createAcc-header">
                    <center><h2>Login</h2></center>
                </div>

                <!--Jinja2 template to handle flash messages when running app.py, will show up as plaintext if just html file ran-->
                <div class="flash-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li style="color:red;">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>

                <!--form for entering username and password-->
                <div class="form-container">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label class="input" for="username">Email</label>
                            <div class="input-box">  
                                <input type="text" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input" for="password">Password</label>
                            <div class="input-box">
                                <input type="password" id="password" name="password" required>
                            </div>
                        </div>
                        <input type="submit" class="button" value="LOGIN">
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <a><p>2024 Cybersecurity Project</p></a>
        </footer>
    </body>
    
</html>
