<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
        <link rel="icon" type="image/x-icon" href="/static/not-me-logo-01.png">
    </head>
    <body>
        <header>
            <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
                <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
            </a>
            <img class="logo-icon" src="/static/not-me-logo-02.png" alt="not-me-logo">
        </header>

        <div class="right-container">
            <div class="simple-page-center-container">
                <div class="login-createAcc-header">
                    <center><h2>Reset Password</h2></center>
                </div>

                <div class="flash-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li style="color:red;">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="form-container">
                    <form action="/passwordResetemail" method="post">
                        <div class="form-group">
                            <label class="input" for="username">Email</label>
                            <div class="input-box">  
                                <input type="email" id="username" name="username" required placeholder="Enter your email">
                                <span id="emailError" style="color:red"></span> <!-- Error display (for JS) -->
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="input" for="password">New Password</label>
                            <div class="input-box">
                                <input type="password" id="password" name="password" required placeholder="Enter your new password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input" for="confirm-password">Re-Enter New Password</label>
                            <div class="input-box">
                                <input type="password" id="confirm-password" name="confirm_pw" required placeholder="Re-enter your new password">
                                <span id="passwordError" style="color:red"></span>  Password error display 
                            </div> -->
                            <input type="submit" class="verifyButton" value="Reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <a><p>2024 Cybersecurity Project</p></a>
        </footer>

        <script>
            document.getElementById("passwordReset").addEventListener("submit", function(event) {
                const email = document.getElementById("email").value;
                const emailError = document.getElementById("emailError");

    
                // Reset the error messages before validation
                emailError.textContent = "";
        
    
                // Email validation: Check if email ends with @uwec.edu
                if (!email.endsWith("@uwec.edu")) {
                    event.preventDefault();  // Prevent form submission
                    emailError.textContent = "Email must end with @uwec.edu";  // Show email error message
                }
    
               
            });
        </script>
    </body>
</html>
