{% extends "base.html" %}
{% block title %}Predict{% endblock %}

{% block content %}
    <!-- Sidebar Navigation -->
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('create_account')}}">Manage Accounts</a></li>
            <li><a href="{{ url_for('predict')}}">Predict logs</a></li>
        </ul>
    </nav>
    <div class="right-container">
        <div class="login-createAcc-header">
            <center><h2>Log Predictor</h2></center>
        </div>
<!--this is where user inserts .csv log file to be checked by ML model-->
        <div class="form-container">
            <form action="/predict" method="post" enctype="multipart/form-data">
                <div class="box__input">
                    <input class="box__file" type="file" name="inputfiles" id="file" data-multiple-caption="{count} files selected" multiple />
                    </br><label for="inputfiles"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                    <button class="box__button" type="submit">Submit</button>  
                </div>
            </form>
        </div>
    </div>
{% endblock %}
