<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
            </a>
            <label class="logo">Cybersecurity Project</label>
            <ul>
                <li><a href = "{{ url_for('login')}}">Logout</a></li>
            </ul> 
        </header>
        
        <div class="container">

            <nav class="fullSizeNavbar" id="nav">
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="createAccount.html">Manage Accounts</a></li>
                </ul>
            </nav>

            <div class="left-container">
                <h3>Event Details</h3>
                <div class="event">
                    <h4><i class="fa-solid fa-caret-right fa-lg" style="color: #1C1D22;"></i>   Username</h4>
                    <h4>Count of Logs</h4>
                </div>
            </div>
            <div class="right-container">
                    <div id="map"></div>
                    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                    <script src="../script.js"></script>
            </div>
        </div>
       <!-- <div class="foot" style="position: absolute; bottom: 0;left: 0;">
            <p>2024 Cybersecurity Project</p>
        </div>-->
        <footer >
            <p>2024 Cybersecurity Project</p>
        </footer>
        
        
    </body>
    
    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
</html>
