<!--This verify2 is the email verification page for the password reset...a couple tweaks for functionality required us to have a seperate page-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify</title>
        <link rel="icon" type="image/x-icon" href="/static/not-me-logo-01.png">
        <link rel="stylesheet" href="../static/style.css" type="text/css"></linkrel>
    </head>

<!--navbar-->
    <body>
        <header>
            <button>
                <i class="fa-solid fa-bars" id="bars"></i>
            </button>
            <img class="logo-icon" src="/static/not-me-logo-02.png" alt="not-me-logo">
        </header>

<!--form for entering verification code...a correct code submission results in password reset page-->
        <div class="right-container">
            <div class="simple-page-center-container">
                <div class="login-createAcc-header">
                    <center><h2>Email Verification</h2></center>
                </div>
                <div class="form-container">
                    <form method="POST" action="{{ url_for('verify2') }}">
                        <label for="verification_code">Enter Verification Code:</label>
                        <input type="text" name="verification_code" required>
                        <input type="hidden" name="email" value="{{ email }}">
                        <button type="submit" class="verifyButton">Verify</button>
                    </form>
                    <center><p><a style="color: white" href="{{ url_for('login') }}">Back to Login</a></p></center>
                </div>
            </div>
        </div>

        <footer>
            <a><p>2024 Cybersecurity Project</p></a>
        </footer>
    </body>
</html>
