@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Work Sans');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1D22;
    color: white;
    height: 12%;
    line-height: 7%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: none;
}

footer {
    background-color: #1C1D22;
    color: white;
    text-align: center;
    padding: .2rem;
    font-size: 10pt;
}

h1 {
    color: white;
    font-family: 'Work Sans';
    font-size: 20pt;
}

header h1 {
    padding-left: 20px;
}

.right-header-item {
    padding-right: 20px;
}

h2 {
    color: #1C1D22;
    font-family: 'Work Sans';
}

p, .input {
    font-family: 'Nunito';
    color: white;

}

.createAcc {
    font-family: 'Nunito';
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

nav {
    background-color: #264759;
    height: 100%;
    width: 125px;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    font-family: 'Work Sans';
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #396B86;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.center-container {
    width: 350px;
    position: fixed;
}

.left-container,
.right-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #adadad;
    border: 1px solid #396B86;
}

.form-container{
    background-color: 264759;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 8px;
}

.login-createAcc-header {
    color: #1C1D22;
}

.form-container .input-box {
    width: 100%;
    height: 30px;
    background: #DFDFDF;
    border-radius: 8px;
}

.input {
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-container .button {
    width: 80%;
    height: 35px;
    background: #E9CC7C;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-weight: 900;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}